<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel administratora</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <link rel="stylesheet" href="public/styles/home.css" />
    <link rel="stylesheet" href="public/styles/admin.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/modal-admin.js" defer></script>
  </head>
  <body>
    <div class="background">
      <div class="modal">
        <p class="modal-title">
          Czy na pewno chcesz usunąć użytkownika "<span></span>"?
        </p>
        <form action="offer-delete" method="post" class="modal-form">
          <input type="text" hidden id="modal-input" />

          <button class="btn btn-reset" type="button">Anuluj</button>
          <button class="btn btn-primary" type="submit">Potwierdź</button>
        </form>
      </div>
    </div>
    <div class="nav-mobile">
      <button class="nav-back-btn">
        <i
          class="fa-solid fa-arrow-left-long fa-2xl"
          style="color: #78c841"
        ></i>
      </button>

      <nav>
        <div class="nav-box">
          <a href="/home">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
        </div>
        <div class="nav-box">
          <ul class="nav-list">
            <?php foreach ($nav_items as $item): ?>
            <li>
              <a href="<?= $item['url'] ?>"><?= $item['text'] ?></a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <?php if (!$logged_in): ?>
        <div class="nav-box nav-box-buttons">
          <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
          <a href="/register" class="btn btn-primary btn-register"
            >Rejestracja</a
          >
        </div>
        <? else: ?>
        <div class="nav-box nav-box-buttons">
          <a href="/logout" class="btn btn-primary">Wyloguj</a>
          <a href="/user-page">
            <img
              class="avatar"
              src="public/images/avatar.png"
              alt="Awatar użytkownika"
            />
          </a>
        </div>
        <?php endif; ?>
      </nav>
    </div>
    <div class="container">
      <nav class="nav">
        <div class="nav-box">
          <a href="/home">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
          <ul class="nav-list-desktop">
            <?php foreach ($nav_items as $item): ?>
            <li>
              <a href="<?= $item['url'] ?>"><?= $item['text'] ?></a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <div class="nav-box">
          <?php if (!$logged_in): ?>
          <div class="nav-box-desktop">
            <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
            <a href="/register" class="btn btn-primary btn-register"
              >Rejestracja</a
            >
          </div>
          <? else: ?>
          <div class="nav-box-desktop">
            <a href="/logout" class="btn btn-primary">Wyloguj</a>
            <a href="/user-page">
              <img
                class="avatar"
                src="public/images/avatar.png"
                alt="Awatar użytkownika"
              />
            </a>
          </div>
          <?php endif; ?>
          <button class="nav-menu">
            <i class="fa-solid fa-bars fa-2xl" style="color: #78c841"></i>
          </button>
        </div>
      </nav>
      <main>
        <div class="heading-box">
          <h1 class="header">Panel administratora</h1>
          <p class="header-info">Lista Użytkowników</p>
        </div>
        <?php if (count($users) >0): ?>
        <div class="searchbar">
          <form class="search" action="">
            <div class="input-box">
              <label>Czego szukasz?</label>
              <input type="text" placeholder="Wprowadź nazwę użytkownika" />
            </div>
            <div class="searchbar-btn">
              <button class="btn btn-search">Szukaj</button>
              <button class="btn btn-reset">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #ff9b2f"></i>
              </button>
            </div>
          </form>
        </div>
        <?php endif; ?>

        <section>
          <p class="admin-panel-mobile">
            Lista użytkowników nie jest obsługiwana w wersji mobilnej.
          </p>
          <?php if (count($users) >0): ?>
          <div class="admin-panel">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nazwa użytkownika</th>
                  <th>Email</th>
                  <th>Data rejestracji</th>
                  <th>Akcje</th>
                </tr>
              </thead>
              <tbody>
                <?php foreach ($users as $user): ?>
                <tr data-id="<?= $user->getId(); ?>">
                  <td><?= $user->getId(); ?></td>
                  <td id="full-name"><?= $user->getFullName(); ?></td>
                  <td><?= $user->getEmail(); ?></td>
                  <td>2025-01-15</td>
                  <td>
                    <button class="delete-btn modal-trigger">
                      <i
                        class="fa-solid fa-trash fa-xl"
                        style="color: #fb4141"
                      ></i>
                      <i
                        class="fa-solid fa-trash fa-2xl"
                        style="color: #fb4141"
                      ></i>
                    </button>
                  </td>
                </tr>
                <?php endforeach; ?>
              </tbody>
            </table>
          </div>
        </section>

        <section>
          <div class="pagination-menu">
            <button>
              <i class="fa-solid fa-angle-left fa-2xl" style="color: #000"></i>
            </button>
            <ul class="pagination-list">
              <li class="selected">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>...</li>
              <li>10</li>
            </ul>
            <button>
              <i class="fa-solid fa-angle-right fa-2xl" style="color: #000"></i>
            </button>
          </div>
        </section>
        <?php endif; ?>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
