<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona główna</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <link rel="stylesheet" href="public/styles/home.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/home.js" defer></script>
  </head>
  <body>
    <?php require_once __DIR__ . "/partials/nav_mobile.html"; ?>
    <div class="container">
      <?php require_once __DIR__ . "/partials/nav_desktop.html"; ?>
      <div class="heading-box">
        <h1 class="header">Znajdź to, czego szukasz</h1>
      </div>
      <div class="searchbar">
        <form class="search" method="get">
          <div class="input-box">
            <label>Czego szukasz?</label>
            <input type="text" placeholder="Podaj tytuł ogłoszenia..." />
          </div>
          <div class="searchbar-btn">
            <button class="btn btn-search" type="submit">Szukaj</button>
            <button class="btn btn-reset" type="reset">
              <i class="fa-solid fa-xmark fa-2xl" style="color: #ff9b2f"></i>
            </button>
          </div>
        </form>
      </div>
      <main>
        <section class="items">
          <ul class="items-list"></ul>
        </section>
        <div hidden id="spinner"></div>
        <section class="pagination">
          <div class="pagination-menu">
            <button>
              <i class="fa-solid fa-angle-left fa-2xl" style="color: #000"></i>
            </button>
            <ul class="pagination-list"></ul>
            <button>
              <i class="fa-solid fa-angle-right fa-2xl" style="color: #000"></i>
            </button>
          </div>
        </section>
        <p class="none-items">Brak przedmiotów do wyświetlenia.</p>
      </main>
      <?php require_once __DIR__ . "/partials/footer.html"; ?>
    </div>
  </body>
</html>
