<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona główna</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <link rel="stylesheet" href="public/styles/home.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="public/scripts/main.js" defer></script>
  </head>
  <body>
    <div class="nav-mobile">
      <button class="nav-back-btn">
        <i
          class="fa-solid fa-arrow-left-long fa-2xl"
          style="color: #78c841"
        ></i>
      </button>

      <nav>
        <div class="nav-box">
          <a href="#">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
        </div>
        <div class="nav-box">
          <ul class="nav-list">
            <li>Lista ogłoszeń</li>
            <li>Dodaj ogłoszenie</li>
          </ul>
        </div>
        <div class="nav-box nav-box-buttons">
          <button class="btn btn-primary">Wyloguj</button>
          <a href="#">
            <img
              class="avatar"
              src="public/images/avatar.png"
              alt="Awatar użytkownika"
            />
          </a>
        </div>
      </nav>
    </div>
    <div class="container">
      <nav class="nav">
        <div class="nav-box">
          <a href="#">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
        </div>
        <div class="nav-box">
          <button class="nav-menu">
            <i class="fa-solid fa-bars fa-2xl" style="color: #78c841"></i>
          </button>
        </div>
      </nav>
      <main>
        <div class="heading-box">
          <h1 class="header">Znajdź to, czego szukasz</h1>
        </div>
        <div class="searchbar">
          <form class="search" action="">
            <div class="input-box">
              <label>Czego szukasz?</label>
              <input type="text" placeholder="np. rower górski" />
            </div>
            <div class="searchbar-btn">
              <button class="btn btn-search">Szukaj</button>
              <button class="btn btn-reset">
                <i class="fa-solid fa-xmark fa-2xl" style="color: #ff9b2f"></i>
              </button>
            </div>
          </form>
        </div>
        <section>
          <ul class="items-list">
            <li>
              <img
                class="item-photo"
                src="public/images/jacket.png"
                alt="Skórzana kurtka"
              />
              <div class="item-content">
                <div>
                  <p class="item-title">
                    Brązowa kurtka skórzana – klasyczna i ponadczasowa
                  </p>
                  <p class="item-description">
                    Modna, męska kurtka wykonana z brązowej skóry o naturalnym
                    połysku. Posiada solidny zamek, wygodne kieszenie i
                    ściągacze przy mankietach oraz pasie. Bardzo wygodna,
                    świetnie dopasowuje się do sylwetki. Stan bardzo dobry –
                    zadbana skóra.
                  </p>
                  <div class="item-info">
                    <p class="item-price">450 PLN</p>
                    <p class="item-number">+48 123 456 780</p>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <img
                class="item-photo"
                src="public/images/bicycle.png"
                alt="Skórzana kurtka"
              />
              <div class="item-content">
                <div>
                  <p class="item-title">
                    Czarny rower szosowy – lekki, sportowy, idealny do jazdy po
                    asfalcie
                  </p>
                  <p class="item-description">
                    Elegancki, matowy rower szosowy o lekkiej konstrukcji i
                    aerodynamicznej ramie. Wyposażony w wygodne siodełko,
                    kierownicę typu baranek oraz precyzyjny układ przerzutek.
                    Świetnie nadaje się do treningów i dłuższych tras. Stan
                    bardzo dobry – gotowy do jazdy.
                  </p>
                  <div class="item-info">
                    <p class="item-price">2300 PLN</p>
                    <p class="item-number">+48 123 456 780</p>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <img
                class="item-photo"
                src="public/images/backpack.png"
                alt="Skórzana kurtka"
              />
              <div class="item-content">
                <div>
                  <p class="item-title">
                    Czarny plecak do szkoły lub pracy – praktyczny, pojemny
                  </p>
                  <p class="item-description">
                    Minimalistyczny plecak z główną komorą i przednią kieszenią
                    na drobiazgi. Po bokach elastyczne kieszenie na butelkę lub
                    parasolkę. Wygodne szelki i uchwyt do noszenia w ręce.
                    Idealny na uczelnię, do biura lub na codzienne wyjścia. Stan
                    jak nowy.
                  </p>
                  <div class="item-info">
                    <p class="item-price">129.99 PLN</p>
                    <p class="item-number">+48 123 456 780</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <div class="pagination-menu">
            <button>
              <i class="fa-solid fa-angle-left fa-2xl" style="color: #000"></i>
            </button>
            <ul class="pagination-list">
              <li class="selected">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>...</li>
              <li>10</li>
            </ul>
            <button>
              <i class="fa-solid fa-angle-right fa-2xl" style="color: #000"></i>
            </button>
          </div>
        </section>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
