<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona główna</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <link rel="stylesheet" href="public/styles/home.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/home.js" defer></script>
  </head>
  <body>
    <div class="nav-mobile">
      <button class="nav-back-btn">
        <i
          class="fa-solid fa-arrow-left-long fa-2xl"
          style="color: #78c841"
        ></i>
      </button>

      <nav>
        <div class="nav-box">
          <a href="/home">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
        </div>
        <div class="nav-box">
          <ul class="nav-list">
            <?php foreach ($nav_items as $item): ?>
            <li>
              <a href="<?= $item['url'] ?>"><?= $item['text'] ?></a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <?php if (!$logged_in): ?>
        <div class="nav-box nav-box-buttons">
          <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
          <a href="/register" class="btn btn-primary btn-register"
            >Rejestracja</a
          >
        </div>
        <? else: ?>
        <div class="nav-box nav-box-buttons">
          <a href="/logout" class="btn btn-primary">Wyloguj</a>
          <a href="/user-page">
            <img
              class="avatar"
              src="public/images/avatar.png"
              alt="Awatar użytkownika"
            />
          </a>
        </div>
        <?php endif; ?>
      </nav>
    </div>
    <div class="container">
      <nav class="nav">
        <div class="nav-box">
          <a href="/home">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
          <ul class="nav-list-desktop">
            <?php foreach ($nav_items as $item): ?>
            <li>
              <a href="<?= $item['url'] ?>"><?= $item['text'] ?></a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <div class="nav-box">
          <?php if (!$logged_in): ?>
          <div class="nav-box-desktop">
            <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
            <a href="/register" class="btn btn-primary btn-register"
              >Rejestracja</a
            >
          </div>
          <? else: ?>
          <div class="nav-box-desktop">
            <a href="/logout" class="btn btn-primary">Wyloguj</a>
            <a href="/user-page">
              <img
                class="avatar"
                src="public/images/avatar.png"
                alt="Awatar użytkownika"
              />
            </a>
          </div>
          <?php endif; ?>
          <button class="nav-menu">
            <i class="fa-solid fa-bars fa-2xl" style="color: #78c841"></i>
          </button>
        </div>
      </nav>
      <div class="heading-box">
        <h1 class="header">Znajdź to, czego szukasz</h1>
      </div>
      <div class="searchbar">
        <form class="search" method="get">
          <div class="input-box">
            <label>Czego szukasz?</label>
            <input type="text" placeholder="Podaj tytuł ogłoszenia..." />
          </div>
          <div class="searchbar-btn">
            <button class="btn btn-search" type="submit">Szukaj</button>
            <button class="btn btn-reset" type="reset">
              <i class="fa-solid fa-xmark fa-2xl" style="color: #ff9b2f"></i>
            </button>
          </div>
        </form>
      </div>
      <main>
        <section class="items">
          <ul class="items-list"></ul>
        </section>
        <section>
          <div hidden id="spinner"></div>
        <section class="pagination">
          <div class="pagination-menu">
            <button>
              <i class="fa-solid fa-angle-left fa-2xl" style="color: #000"></i>
            </button>
            <ul class="pagination-list"></ul>
            <button>
              <i class="fa-solid fa-angle-right fa-2xl" style="color: #000"></i>
            </button>
          </div>
        </section>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
