<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona ogłoszenia</title>
    <link rel="stylesheet" href="/public/styles/main.css" />
    <link rel="stylesheet" href="/public/styles/user-page.css" />
    <link rel="stylesheet" href="/public/styles/home.css" />
    <link rel="stylesheet" href="/public/styles/item.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="/public/scripts/main.js" defer></script>
  </head>
  <body>
    <?php require_once __DIR__ . "/partials/nav_mobile.html"; ?>
    <div class="container">
      <?php require_once __DIR__ . "/partials/nav_desktop.html"; ?>
      <main>
        <img
          class="product-photo"
          src="/public<?= htmlspecialchars($item->getPhotoPath()); ?>"
          alt="Zdjęcie produktu"
        />
        <div class="product-info">
          <h1 class="product-name">
            <?= htmlspecialchars($item->getTitle()); ?>
          </h1>
          <p class="product-price">
            <?= htmlspecialchars($item->getPrice()); ?> PLN
          </p>
          <p class="product-description">
            <?= htmlspecialchars($item->getDescription()); ?>
          </p>
        </div>
        <div class="contact-seller">
          <p>Skontaktuj się ze sprzedawcą</p>
          <div class="contact-seller-box">
            <img
              class="seller-avatar"
              src="/public/images/avatar.png"
              alt="Awatar sprzedawcy"
            />
            <div class="seller-info">
              <p class="seller-name">
                <?= htmlspecialchars($item->getUserFullName()); ?>
              </p>
              <p class="seller-date">
                Wystawione: <?= htmlspecialchars($item->getCreatedAt()); ?>
              </p>
            </div>
          </div>
          <button class="btn btn-primary btn-phone">
            <i class="fa-solid fa-phone"></i>
            <?= htmlspecialchars($item->getPhoneNumber()) ?>
          </button>
        </div>
      </main>

      <?php require_once __DIR__ . "/partials/footer.html"; ?>
    </div>
  </body>
</html>
