<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-box">
          <a href="#">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
        </div>
        <div class="nav-box">
          <i class="fa-solid fa-bars fa-2xl" style="color: #78c841"></i>
        </div>
      </nav>
      <main>
        <div class="heading-box">
          <h1 class="header">Moje ogłoszenia</h1>
          <button class="btn btn-primary btn-offer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i> Dodaj nowe
            ogłoszenie
          </button>
        </div>
        <section>
          <ul class="items-list">
            <li>
              <div>
                <p class="item-title">Vintage Leather Jacket</p>
                <p class="item-description">
                  A beautiful vintage leather jacket in pristine condition.
                  Perfect for any occasion.
                </p>
                <p class="item-price">150.99 PLN</p>
              </div>
              <div class="item-buttons">
                <button class="btn btn-edit">
                  <i class="fa-solid fa-pen fa-2xl" style="color: #ffffff"></i>
                  Edytuj
                </button>
                <button class="btn btn-delete">
                  <i
                    class="fa-solid fa-trash fa-2xl"
                    style="color: #ffffff"
                  ></i>
                  Usuń
                </button>
              </div>
            </li>

            <li>
              <div>
                <p class="item-title">Vintage Leather Jacket</p>
                <p class="item-description">
                  A beautiful vintage leather jacket in pristine condition.
                  Perfect for any occasion.
                </p>
                <p class="item-price">150.99 PLN</p>
              </div>
              <div class="item-buttons">
                <button class="btn btn-edit">
                  <i class="fa-solid fa-pen fa-2xl" style="color: #ffffff"></i>
                  Edytuj
                </button>
                <button class="btn btn-delete">
                  <i
                    class="fa-solid fa-trash fa-2xl"
                    style="color: #ffffff"
                  ></i>
                  Usuń
                </button>
              </div>
            </li>
          </ul>
        </section>
      </main>
      <footer>
        <button></button>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>...</li>
          <li>10</li>
        </ul>
        <button></button>
      </footer>
    </div>
  </body>
</html>
