<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/modal.js" defer></script>
  </head>
  <body>
    <div class="background">
      <div class="modal">
        <p class="modal-title">
          Czy na pewno chcesz usunąć ofertę "<span></span>"?
        </p>
        <form action="offer-delete" method="post" class="modal-form">
          <input type="text" hidden id="modal-input" />

          <button class="btn btn-reset" type="button">Anuluj</button>
          <button class="btn btn-primary" type="submit">Potwierdź</button>
        </form>
      </div>
    </div>
    <div class="nav-mobile">
      <button class="nav-back-btn">
        <i
          class="fa-solid fa-arrow-left-long fa-2xl"
          style="color: #78c841"
        ></i>
      </button>

      <nav>
        <div class="nav-box">
          <a href="/home">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
        </div>
        <div class="nav-box">
          <ul class="nav-list">
            <?php foreach ($nav_items as $item): ?>
            <li>
              <a href="<?= $item['url'] ?>"><?= $item['text'] ?></a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <?php if (!$logged_in): ?>
        <div class="nav-box nav-box-buttons">
          <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
          <a href="/register" class="btn btn-primary btn-register"
            >Rejestracja</a
          >
        </div>
        <? else: ?>
        <div class="nav-box nav-box-buttons">
          <a href="/logout" class="btn btn-primary">Wyloguj</a>
          <a href="/user-page">
            <img
              class="avatar"
              src="public/images/avatar.png"
              alt="Awatar użytkownika"
            />
          </a>
        </div>
        <?php endif; ?>
      </nav>
    </div>
    <div class="container">
      <nav class="nav">
        <div class="nav-box">
          <a href="/home">
            <img
              class="logo"
              src="public/images/logo.png"
              alt="Logo aplikacji"
            />
          </a>
          <ul class="nav-list-desktop">
            <?php foreach ($nav_items as $item): ?>
            <li>
              <a href="<?= $item['url'] ?>"><?= $item['text'] ?></a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <div class="nav-box">
          <?php if (!$logged_in): ?>
          <div class="nav-box-desktop">
            <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
            <a href="/register" class="btn btn-primary btn-register"
              >Rejestracja</a
            >
          </div>
          <? else: ?>
          <div class="nav-box-desktop">
            <a href="/logout" class="btn btn-primary">Wyloguj</a>
            <a href="/user-page">
              <img
                class="avatar"
                src="public/images/avatar.png"
                alt="Awatar użytkownika"
              />
            </a>
          </div>
          <?php endif; ?>
          <button class="nav-menu">
            <i class="fa-solid fa-bars fa-2xl" style="color: #78c841"></i>
          </button>
        </div>
      </nav>
      <main>
        <div class="heading-box">
          <h1 class="header">Moje ogłoszenia</h1>
          <a class="btn btn-primary btn-offer" href="/add-offer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
            Dodaj nowe ogłoszenie
          </a>
        </div>
        <?php if (!empty($items)): ?>
        <section>
          <ul class="items-list">
            <?php foreach ($items as $item): ?>
            <?php
              $title = $item['title'] ?? '';
              $description = $item['description'] ?? '';
              $price = $item['price'] ?? 0;
              $id = (int)($item['id'] ?? 0);

              $photo = $item['photo_path'] ?? '';
              $alt = $item['photo_alt'] ?? $title;
            ?>
            <li data-id="<?= $id ?>">
              <img
                class="item-photo"
                src="/public/<?= htmlspecialchars($photo) ?>"
                alt="<?= htmlspecialchars($alt) ?>"
              />

              <div class="item-content">
                <div>
                  <p class="item-title"><?= htmlspecialchars($title) ?></p>
                  <p class="item-description">
                    <?= htmlspecialchars($description) ?>
                  </p>
                  <p class="item-price">
                    <?= htmlspecialchars($price) ?>
                    PLN
                  </p>
                </div>

                <div class="item-buttons">
                  <a href="update-offer/<?= $id ?>" class="btn btn-edit">
                    <i
                      class="fa-solid fa-pen fa-2xl"
                      style="color: #ffffff"
                    ></i>
                    Edytuj
                  </a>
                  <button class="btn btn-delete modal-trigger">
                    <i
                      class="fa-solid fa-trash fa-2xl"
                      style="color: #ffffff"
                    ></i>
                    Usuń
                  </button>
                </div>
              </div>
            </li>
            <?php endforeach; ?>
          </ul>
        </section>
        <section>
          <div class="pagination-menu">
            <button>
              <i class="fa-solid fa-angle-left fa-2xl" style="color: #000"></i>
            </button>
            <ul class="pagination-list">
              <li class="selected">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>...</li>
              <li>10</li>
            </ul>
            <button>
              <i class="fa-solid fa-angle-right fa-2xl" style="color: #000"></i>
            </button>
          </div>
        </section>
        <? else: ?>
        <p class="no-items">Brak ogłoszeń do wyświetlenia.</p>
        <?php endif; ?>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
