<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moje ogłoszenia</title>
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/user-page.css" />
    <script
      src="https://kit.fontawesome.com/cf24175f1e.js"
      crossorigin="anonymous"
    ></script>
    <script src="public/scripts/main.js" defer></script>
    <script src="public/scripts/modal.js" defer></script>
  </head>
  <body>
    <div class="background">
      <div class="modal">
        <p class="modal-title">
          Czy na pewno chcesz usunąć ofertę "<span></span>"?
        </p>
        <form action="offer-delete" method="post" class="modal-form">
          <input type="text" hidden id="modal-input" />

          <button class="btn btn-reset" type="button">Anuluj</button>
          <button class="btn btn-primary" type="submit">Potwierdź</button>
        </form>
      </div>
    </div>
    <?php require_once __DIR__ . "/partials/nav_mobile.html"; ?>
    <div class="container">
      <?php require_once __DIR__ . "/partials/nav_desktop.html"; ?>
      <main>
        <div class="heading-box">
          <h1 class="header">Moje ogłoszenia</h1>
          <a class="btn btn-primary btn-offer" href="/add-offer">
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
            Dodaj nowe ogłoszenie
          </a>
        </div>
        <?php if (!empty($items)): ?>
        <section>
          <ul class="items-list">
            <?php foreach ($items as $item): ?> <?php $title = $item['title'] ??
            ''; $description = $item['description'] ?? ''; $price =
            $item['price'] ?? 0; $id = (int)($item['id'] ?? 0); $photo =
            $item['photo_path'] ?? ''; $alt = $item['photo_alt'] ?? $title; ?>
            <li data-id="<?= htmlspecialchars($id) ?>">
              <img
                class="item-photo"
                src="/public/<?= htmlspecialchars($photo) ?>"
                alt="<?= htmlspecialchars($alt) ?>"
              />

              <div class="item-content">
                <div>
                  <p class="item-title"><?= htmlspecialchars($title) ?></p>
                  <p class="item-description">
                    <?= htmlspecialchars($description) ?>
                  </p>
                  <p class="item-price">
                    <?= htmlspecialchars($price) ?>
                    PLN
                  </p>
                </div>

                <div class="item-buttons">
                  <a
                    href="update-offer/<?= htmlspecialchars($id) ?>"
                    class="btn btn-edit"
                  >
                    <i
                      class="fa-solid fa-pen fa-2xl"
                      style="color: #ffffff"
                    ></i>
                    Edytuj
                  </a>
                  <button class="btn btn-delete modal-trigger">
                    <i
                      class="fa-solid fa-trash fa-2xl"
                      style="color: #ffffff"
                    ></i>
                    Usuń
                  </button>
                </div>
              </div>
            </li>
            <?php endforeach; ?>
          </ul>
        </section>
        <? else: ?>
        <p class="no-items">Brak ogłoszeń do wyświetlenia.</p>
        <?php endif; ?>
      </main>

      <?php require_once __DIR__ . "/partials/footer.html"; ?>
    </div>
  </body>
</html>
