.searchbar {
  margin: 2.5rem 0;
}

.searchbar-btn {
  display: flex;
  gap: 1rem;
}

.search .btn-search {
  width: 100%;
  height: fit-content;
}

.search .btn-reset {
  height: fit-content;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-number {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--green);
}

@media (min-width: 992px) {
  .search {
    display: flex;
    justify-content: space-between;
  }

  .search .input-box {
    width: 50%;
    margin-bottom: 0;
  }

  .searchbar-btn {
    align-self: flex-end;
  }

  .search .btn-search {
    width: 15rem;
  }

  .search .btn-search,
  .search .btn-reset {
    height: 6.1rem;
  }

  .item-info {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 6rem;
  }
}
