@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

input,
textarea {
  font-family: "Work Sans", sans-serif;
}

.header {
  font-size: 3rem;
  font-weight: 800;
  padding: 1rem 0;
}

.container {
  padding: 2rem 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--light-gray);
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
}

.logo {
  display: block;
  width: 6.4rem;
}

.text-muted {
  color: var(--gray);
  font-size: 1.4rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2rem;
}

.container-box {
  width: 100%;
}

.btn {
  padding: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.btn-edit {
  background-color: var(--gray);
  border: none;
  color: #fff;
}

.btn-delete {
  background-color: var(--red);
  border: none;
  color: #fff;
}

.btn-primary {
  background-color: var(--green);
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--light-green);
}

.btn-outline {
  background-color: transparent;
  color: black;
  border: 1px solid var(--light-gray);
}

a.btn-outline {
  text-decoration: none;
  width: 100%;
}

.input-box > label {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.input-box > input,
.input-box > textarea {
  padding: 2rem;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
  width: 100%;
}

.input-box > textarea {
  resize: vertical;
  min-height: 30rem;
  max-height: 35rem;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color: var(--gray);
}

.input-box > input:focus,
.input-box > textarea:focus {
  outline: none;
  border: 1px solid var(--dark-blue);
}

@media (min-width: 992px) {
  .header {
    font-size: 4rem;
  }

  .text-muted,
  .btn {
    font-size: 1.6rem;
  }

  .input-box > label {
    font-size: 1.7rem;
  }

  .input-box > input::placeholder,
  .input-box > textarea::placeholder,
  .input-box > input,
  .input-box > textarea {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
