<nav class="nav">
  <div class="nav-box">
    <a href="/home">
      <img class="logo" src="/public/images/logo.png" alt="Logo aplikacji" />
    </a>
    <ul class="nav-list-desktop">
      <?php foreach ($nav_items as $navItem): ?>
      <li>
        <a href="<?= htmlspecialchars($navItem['url']) ?>"
          ><?= htmlspecialchars($navItem['text']) ?></a
        >
      </li>
      <?php endforeach; ?>
    </ul>
  </div>
  <div class="nav-box">
    <?php if (!$logged_in): ?>
    <div class="nav-box-desktop">
      <a href="/login" class="btn btn-primary btn-login">Logowanie</a>
      <a href="/register" class="btn btn-primary btn-register">Rejestracja</a>
    </div>
    <? else: ?>
    <div class="nav-box-desktop">
      <a href="/logout" class="btn btn-primary">Wyloguj</a>
      <a href="/user-page">
        <img
          class="avatar"
          src="/public/images/avatar.png"
          alt="Awatar użytkownika"
        />
      </a>
    </div>
    <?php endif; ?>
    <button class="nav-menu">
      <i class="fa-solid fa-bars fa-2xl" style="color: #78c841"></i>
    </button>
  </div>
</nav>
